@charset "UTF-8";
/*Paleta de colores
#7B94B3 (azul)
#DCABAE (rosado)
#E9CCBC (cremita)
#C5C6C8 (gris)
#E4DDD3 (neutro)
#B1674A (marron-rojizo)
#EFE8DE (beige footer)
#595959 (gris oscuro)
*/
/*-----FORMATO GENERAL--------------*/
* {
  box-sizing: border-box; }

/*Estilo de fuente*/
body {
  font-family: 'Cabin', sans-serif;
  margin: 0; }

/*a todos los links le saco la decoracion*/
a {
  text-decoration: none;
  color: #404040; }

/*-----------HEADERs-------------------------------*/
header {
  /*Esto lo hice con box-modelling y flexbox cuando no sabía la magía de Bootstrap y los mx- my- px- py- :)*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 4%; }
  header div {
    width: max-content;
    align-self: center;
    justify-self: center;
    margin-bottom: 2%; }

#headerHOME {
  background-color: #E5E5E5;
  margin-top: inherit; }

#headerTienda {
  background: linear-gradient(to bottom, #E9CCBC 10%, white 75%);
  margin-top: inherit; }

#headerComprar {
  background: rgba(214, 164, 164, 0.5);
  margin-top: inherit; }

#logo a img {
  max-width: 400px;
  max-height: 400px;
  width: auto;
  height: auto; }

/*------------Menú de pantallas medianas y grandes-----------------*/
#menuPrincipal, #menuPrincipalFooter {
  /*Este horror con boxmodeling*/
  text-align: center;
  height: min-content;
  align-self: center;
  width: 100%; }
  #menuPrincipal ul, #menuPrincipalFooter ul {
    list-style-type: none;
    font-weight: 800;
    font-size: 2rem;
    width: 100%;
    padding-left: 0; }
    #menuPrincipal ul li, #menuPrincipalFooter ul li {
      display: inline-block;
      text-align: center;
      width: 18%; }
      #menuPrincipal ul li a, #menuPrincipalFooter ul li a {
        padding-left: 10px;
        padding-right: 10px; }
      #menuPrincipal ul li a:hover, #menuPrincipalFooter ul li a:hover {
        color: white;
        background-color: black;
        transition: 300ms linear; }

#estoyAca {
  color: white;
  background-color: black; }

/*---------Menú de pantallas chicas-------------*/
a.dropdown-item.seccion-activa {
  color: #DCABAE; }

.dropdown {
  margin-bottom: 0; }

.dropdown-menu.show {
  background-color: #404040;
  color: white; }

.dropdown-item {
  color: white; }

/*----------------------------------FOOTER--------------------------------------*/
footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #E9CCBC;
  margin-bottom: 5px; }

.boton {
  padding: 0.4rem;
  border-color: black;
  background-color: #B1674A;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.80rem;
  margin-top: 5px; }
  .boton:hover {
    border-color: white;
    color: white;
    background-color: black;
    transition: 300ms linear; }

.form-group input, .form-group textarea {
  padding: 0.3rem;
  font-family: 'Inconsolata', monospace; }
  .form-group input:focus, .form-group textarea:focus {
    border-color: black;
    border-width: .15rem; }

#menuPrincipalFooter ul li {
  font-size: 1.5rem; }
  #menuPrincipalFooter ul li a {
    color: white; }
    #menuPrincipalFooter ul li a:hover {
      background-color: #7B94B3;
      transition: 300ms linear; }

.links {
  margin-top: 3%; }
  .links a i {
    font-size: 2rem;
    color: white; }
    .links a i:hover {
      color: #7B94B3; }

#copyright img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto; }

/*------------------------------------HOME--------------*/
.project {
  background-color: #494949; }

.bordeCollage {
  border: solid;
  border-color: #757373; }

h2 {
  font-size: 3rem; }

.featured-text {
  font-size: 2rem; }

/*---------------------------CATÁLOGO---------------------------- */
.card {
  border-color: white; }

.card-img-top:hover {
  transform: scale(1.1, 1.1);
  transition: 0.25s; }

#cartel {
  border: 4px solid black; }

/*---------------------------COMPRAR------------------------------*/
#fondoBW {
  padding: 15rem 0;
  background: url("../imagenes/taller/b_w.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  /*fixed no funciona en iOS*/
  background-size: cover; }

#parrafoTaller {
  font-weight: 800;
  color: black;
  line-height: 3rem;
  text-align: center;
  border-radius: 0.3rem;
  background: rgba(214, 164, 164, 0.7); }
  #parrafoTaller a {
    text-decoration: underline;
    color: #DCABAE; }

#backGroundC, .bolsita {
  background: rgba(214, 164, 164, 0.5);
  border-left: solid 2px black;
  border-right: solid 2px black;
  border-top: solid 2px black;
  border-radius: 0.1rem; }

#comprarUno, #comprarDos {
  font-weight: 800;
  color: #4b4a4a;
  line-height: 3rem;
  text-align: center; }
  #comprarUno a, #comprarDos a {
    text-decoration: underline;
    color: #ad6a6e; }
    #comprarUno a:hover, #comprarDos a:hover {
      background-color: #b1aeae; }

#comprarDos {
  font-weight: 500; }

#mediosPago {
  border-radius: 0.3rem; }
  #mediosPago .list-group-item {
    background-color: rgba(58, 58, 58, 0.8);
    color: #fafafa; }

#botonPasos {
  border-color: black;
  border-width: 2px;
  background-color: #e6888e;
  border-radius: 0.2rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.8rem; }
  #botonPasos:hover {
    color: white;
    background-color: black;
    transition: 300ms linear; }

.bolsita {
  border-top: none;
  border-bottom: solid 2px black; }
  .bolsita img {
    border-radius: 75px;
    transition: 0.05s;
    filter: grayscale(1); }
    .bolsita img:hover {
      filter: grayscale(0); }

#imgCarruselComprar {
  border-radius: 20px; }

/*----------------TIENDA------------------------*/
.textoTienda {
  border: solid 2px black;
  border-radius: 25px;
  background-color: #f0dfd7;
  box-shadow: 5px 8px #888888; }

.instaIcono {
  font-size: 4rem; }
  .instaIcono:hover {
    color: #7B94B3; }

.horario {
  color: #838383; }

.ellauri:hover {
  color: #7B94B3; }

#carruselTienda div div div img {
  border-radius: 50%; }

iframe {
  box-shadow: 5px 5px #888888; }

/*-------------------CONTACTO-------------------------*/
.linksContacto {
  margin-top: 3%; }
  .linksContacto a i {
    font-size: 2rem;
    color: #404040; }
    .linksContacto a i:hover {
      color: #7B94B3; }

/*-------------Media queries--------------------------------------------*/
/*----CELULARES------*/
@media only screen and (max-width: 576px) {
  /*FOOTER*/
  #menuPrincipalFooter {
    text-align: center;
    width: 50%; }
    #menuPrincipalFooter ul {
      width: 100%; }
      #menuPrincipalFooter ul li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        align-content: center;
        width: min-content; } }

/*-----Mobile, celus y iPads--------*/
@media only screen and (max-width: 767px) {
  /*HEADER*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    justify-self: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%; }
  #logoHeader {
    margin-bottom: 0; }
    #logoHeader a img {
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
      margin-bottom: 0; }
  /*FOOTER*/
  .links {
    margin-top: 10px; }
    .links a i {
      font-size: 1.7rem; }
  /*COMPRAR*/
  #fondoBW {
    padding: 15rem 0;
    background: url("../imagenes/taller/IMG_2788_3.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /*tenía FIXED pero en iOS no funciona*/
    background-size: cover; }
  .bolsita img {
    filter: grayscale(0); } }

@media only screen and (max-width: 530px) {
  /*breakpoint inventado, soluciona lo de la pagina 404*/
  /*404*/
  .error-container > span.zero {
    margin-right: 50px;
    margin-left: 50px; }
  .error-container > span.four {
    margin-right: 50px;
    margin-left: 50px; } }

/* Breakpoints de bootstrap
  X-Small	None	<576px --> celu
  Small	sm	≥576px --> iPad
  Medium	md	≥768px --> compus
  Large	lg	≥992px
  Extra large	xl	≥1200px
  Extra extra large	xxl	≥1400px
*/
/*---------------pagina 404------------------------------*/
/*texto*/
#body404 {
  background-color: #FDFAF5; }

.zoom-area {
  color: #3f3e3e; }

a.more-link {
  text-transform: uppercase;
  background-color: #de7e85;
  padding: 10px 15px;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px; }

/* 404*/
.error-container {
  text-align: center;
  font-size: 106px;
  font-weight: 800;
  margin: 70px 15px; }

.error-container > span {
  display: inline-block;
  position: relative; }

.error-container > span.four {
  width: 136px;
  height: 43px;
  border-radius: 999px;
  background: linear-gradient(140deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 43%, transparent 44%, transparent 100%), linear-gradient(105deg, transparent 0%, transparent 40%, rgba(0, 0, 0, 0.06) 41%, rgba(0, 0, 0, 0.07) 76%, transparent 77%, transparent 100%), linear-gradient(to right, #d89ca4, #e27b7e); }

.error-container > span.four:before,
.error-container > span.four:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px; }

.error-container > span.four:before {
  width: 43px;
  height: 156px;
  left: 60px;
  bottom: -43px;
  background: linear-gradient(128deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 40%, transparent 41%, transparent 100%), linear-gradient(116deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.07) 50%, transparent 51%, transparent 100%), linear-gradient(to top, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F); }

.error-container > span.four:after {
  width: 137px;
  height: 43px;
  transform: rotate(-49.5deg);
  left: -18px;
  bottom: 36px;
  background: linear-gradient(to right, #99749D, #B895AB, #CC9AA6, #D7969E, #E0787F); }

.error-container > span.zero {
  vertical-align: text-top;
  width: 156px;
  height: 156px;
  border-radius: 999px;
  background: linear-gradient(-45deg, transparent 0%, rgba(0, 0, 0, 0.06) 50%, transparent 51%, transparent 100%), linear-gradient(to top right, #99749D, #99749D, #B895AB, #CC9AA6, #D7969E, #ED8687, #ED8687);
  overflow: hidden;
  animation: bgshadow 5s infinite; }

.error-container > span.zero:before {
  content: '';
  display: block;
  position: absolute;
  transform: rotate(45deg);
  width: 90px;
  height: 90px;
  background-color: transparent;
  left: 0px;
  bottom: 0px;
  background: linear-gradient(95deg, transparent 0%, transparent 8%, rgba(0, 0, 0, 0.07) 9%, transparent 50%, transparent 100%), linear-gradient(85deg, transparent 0%, transparent 19%, rgba(0, 0, 0, 0.05) 20%, rgba(0, 0, 0, 0.07) 91%, transparent 92%, transparent 100%); }

.error-container > span.zero:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 999px;
  width: 70px;
  height: 70px;
  left: 43px;
  bottom: 43px;
  background: #FDFAF5;
  box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.1); }

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em; }

@keyframes bgshadow {
  0% {
    box-shadow: inset -160px 160px 0px 5px rgba(0, 0, 0, 0.4); }
  45% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1); }
  55% {
    box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: inset 160px -160px 0px 5px rgba(0, 0, 0, 0.4); } }
