/*-----FORMATO GENERAL--------------*/
* {
    box-sizing: border-box; }
  
  
  /*Estilo de fuente*/
  body {
    font-family: 'Cabin', sans-serif;
    margin: 0;    
  }
  
  /*a todos los links le saco la decoracion*/
  a {
    text-decoration: none;
    color: #404040;
  }