 /*------------------------------------HOME--------------*/
  .project {
    background-color: #494949;
  }
  
  .bordeCollage {
    border: solid;
    border-color: #757373;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  .featured-text {
    font-size: 2rem;
  }