 /*-------------------CONTACTO-------------------------*/
  
 .linksContacto {
    margin-top: 3%;
    a i {
        font-size: 2rem;
        color:#404040;
        &:hover{
            color: #7B94B3;
        }
    }
}
  
